:root {
    --vermelho: #E50914;
    --preta: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Gotham', Arial black, Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;

    height: auto;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal #capa {
    width: 100%;

    display: flex;
    filter: brightness(40%)
}

.filme-principal .descricao {
    margin-top: 40px;
    margin-bottom: 20px;
}

.titulo {
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao a {
    text-decoration: none;
    color: white;
}

.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 15px;
    position: absolute;
    top: 250px;
}

.filme-principal .container {
    width: 70%;
}

div h4 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    font-style: bold;
    
    padding-left: 10px;
}

div h4:hover {
    color: #aaa;
    font-style: italic;
}

main nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
}

main nav a:hover {
    color: #fff;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
   margin-top: 5px;
}

.bg-footer {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    color: #AAA
}

.bg-footer a {
    text-decoration: underline;
    color: #aaa;
}

.bg-footer a:hover {
    color: #fff;
}

.bg-footer i {
    text-align: center;
 }